<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layoutDefine"
            value="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring} (${callsite:includeNamespace=false:fileName=true:includeSourcePath=false})" />
  
  <targets>
    <target xsi:type="Trace" name="TraceOutput" rawWrite="true" layout="${layoutDefine}" />
  </targets>

  <rules>
    <logger name="OpenHardwareMonitorLib.*" minLevel="Info" writeTo="TraceOutput" final="true"/>
    <logger name="TuringSmartScreenTool.*" minLevel="Trace" writeTo="TraceOutput" final="true"/>
    <logger name="TuringSmartScreenTool.Controllers.ValueUpdateManager" minLevel="Error" writeTo="TraceOutput" final="true"/>
  </rules>
</nlog>
